---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<ul>
   <li>Introduction to Logic Design (ELEN 21)
   <ul>
    <li>Santa Clara University</li>
    <li>Spring 2022</li>
   </ul>
 </li>
  <li>Computer Architecture (ELEN 122)
    <ul>
    <li>Santa Clara University</li>
    <li>Winter 2022-2023</li>
   </ul>  
 </li>
  <li>Advanced Computer Architecture I (ELEN 511)
   <ul>
    <li>Santa Clara University</li>
    <li>Fall 2022</li>
   </ul>
 </li>
 
  <li>Advanced Computer Architecture II (ELEN 512)
   <ul>
    <li>Santa Clara University</li>
    <li>Winter 2023</li>
   </ul>
 </li>
  <li>Hardware-Software Co-Design (ELEN 503)
   <ul>
    <li>Santa Clara University</li>
    <li>Spring 2022</li>
   </ul>
 </li>
 <li>Logic Design
    <ul>
    <li>Ajou University</li>
    <li>2016-2021</li>
   </ul>  
 </li>  
    <li>Digital System Design
    <ul>
    <li>Ajou University</li>
    <li>2014-2021</li>
   </ul>  
 </li>  
    <li>Operating Systems for Electrical Engineering
    <ul>
    <li>Ajou University</li>
    <li>2014-2021</li>
   </ul>  
 </li>  
    <li>Parallel and Distributed Systems
    <ul>
    <li>Ajou University</li>
    <li>2014-2021</li>
   </ul>  
 </li>  
</ul>


<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
